/* -------------- blog page starts ---------------- */
.blog-page-conatiner{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-page-top{
    padding: 80px;
    background-color: #f15d34f6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog-page-top h1{
    font-size: 60px;
    font-weight: 800;
}

.blog-page-top p{
    font-size: 25px;
}

.newsletter{
    background-color: white;
    border-radius: 40px;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:5px ;
    margin-block-start: 50px;

}
.newsletter input{
    border: 0;
    border-color: white;
    padding-inline-start: 20px;
    outline: none; 
}

.newsletter-btn{
    background-color: #f15c34;
    border-radius: 40px;
    height: 45px;
    width: 250px;
    color: white;
}
.newsletter-btn:hover{
    background-color: #f15d34eb;
    color: white;

}
.blog-content-section{
    padding-inline: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.blog-page-blog_section{
    width: 410px;
    margin-top: 50px;
}

.blog-page-blog_section img{
    width: 100%;
    height: 250px;

    border-radius: 30px;
}

.blog-page-blog_section h5{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.blog-page-blog_section p{
    font-size: 14px;
}

@media screen and (max-width:991px) {
    .blog-page-top{
        padding: 20px;
    }
    .blog-page-top h1{
        font-size: 60px;
        font-weight: 700;
    }
    
    .blog-page-top p{
        font-size: 16px;
    }
    .blog-content-section{
        padding-inline:0px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}
@media screen and (max-width:500px){
    .newsletter{

        width: 80%;
        border-radius: 20px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        padding-block:10px ;
        margin-block-start: 50px;
    
    }
    .newsletter input{
        width: 98%;
    }
    .newsletter input::placeholder{
        text-align: center;
        margin-right: 20px;
    }
    
    .newsletter-btn{
        background-color: #f15c34;
        border-radius: 10px;
        height: 45px;
        width: 98%;
        color: white;
    }
    .blog-page-blog_section{
        width: 300px;
    }
}