.slick-slider{
  width: 100%;
  margin-right: 8%;

}
.slick-slide{
  height: 55vh;
}
.slick-slide  img{
  margin-top: 70px;
  padding-left: 35px;
  padding-right: 37px;
  width: 100%;
}

.slider-item {
  transition: transform 0.5s!important;
}

.slick-center .slider-item {
  transform: scale(1.5)!important; /* Increase the size of the center image */
}

/* @media screen and (max-width:991px) {
  .slick-slide{
    height: 600px;
  }

  .slick-slide  img{
    margin-top: 70px;
    padding-left: 0px;
    width: 100%;
  }

} */
@media screen and (max-width:991px) {

  .slick-slide{
    height: 650px;
  }
  .slick-slide  img{
    padding-left: 30px;
    padding-right: 30px;

  }

}
@media screen and (max-width:768px) {
  .slick-slider{
    width: 90%;  
  }


  .slick-slide{
    height: 500px;
  }

}
@media screen and (max-width:450px) {
  .slick-slide{
    height: 300px;
  }
  .slick-slider{
    width: 90%;  
  margin-right: 0;


  }
}